@model EraFeira.Models.Pro_produto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/CadastroProduto.css" rel="stylesheet" />
@*<h2>Deletar</h2>*@

<h3 class="pro-h3">Você tem certeza que deseja deletar esse produto?</h3>
<div class="text-center">
    <dl class="dl-horizontal pro-delete">
        <dt>
            @Html.DisplayNameFor(model => model.Cat_Categoria.Cat_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_Categoria.Cat_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_valor_venda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_valor_venda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_desconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_desconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_foto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Pro_foto)*@
            <img src="~/Uploads/@Model.Pro_foto" style="max-width:70px;" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions">
        @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-voltar" })
        <input type="submit" value="Deletar" class="btn btn-deletar" />
    </div><br /><br /><br />
    }
</div>
