@model IEnumerable<EraFeira.Models.Pro_produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/CadastroProduto.css" rel="stylesheet" />

<h2 class="pro_h2">Visualização de produtos</h2>

@*<p>
    @Html.ActionLink("Cadastrar novo produto", "Create")
</p>*@
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cat_Categoria.Cat_nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_descricao)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_valor_venda)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_data_chegada)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_data_vencimento)
            </th>
            @*<th scope="col">
                @Html.DisplayNameFor(model => model.Pro_desconto)
            </th>*@
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_quantidade)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pro_foto)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr class="text-center">
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Cat_Categoria.Cat_nome)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_nome)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_descricao)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_valor_venda)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_data_chegada)
        </td>
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_data_vencimento)
        </td>
        @*<td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_desconto)
        </td>*@
        <td scope="row">
            @Html.DisplayFor(modelItem => item.Pro_quantidade)
        </td>
        <td scope="row">
            @*@Html.DisplayFor(modelItem => item.Pro_foto)*@
            <img src="~/Uploads/@item.Pro_foto" style="max-width:70px;" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Pro_id }, new { @class = "btn btn-pro-edit" }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.Pro_id }) |*@
            @Html.ActionLink("Deletar", "Delete", new { id=item.Pro_id }, new { @class = "btn btn-pro-delet" })
        </td>
    </tr>
}

</table>
