@model IEnumerable<EraFeira.Models.Est_estoque>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Produto.Pro_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_quantidade_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_quantidade_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_motivo_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_valor_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_data_vencimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Produto.Pro_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_quantidade_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_quantidade_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_motivo_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_valor_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_data_vencimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Est_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Est_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Est_id })
        </td>
    </tr>
}

</table>
