@model IEnumerable<EraFeira.Models.Est_estoque>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/CadastroProduto.css" rel="stylesheet" />
<style>
    .est-h2 {
        font-family: 'Josefin Sans';
        font-size: 50px;
        font-weight: 700;
        color: #F96714;
        margin-top: 100px;
        margin-bottom: 60px;
    }
</style>

<h2 class="text-center est-h2">Movimentação</h2>

<table class="table">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.Pro_Produto.Pro_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_quantidade_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_quantidade_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_motivo_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_valor_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Est_data_vencimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Produto.Pro_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_quantidade_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_quantidade_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_motivo_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_valor_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Est_data_vencimento)
        </td>
        @*<td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Est_id }, new { @class = "btn btn-pro-edit" })
            
            @Html.ActionLink("Deletar", "Delete", new { id = item.Est_id }, new { @class = "btn btn-pro-delet" })
        </td>*@
    </tr>
}

</table>
<br />
