@model EraFeira.Models.Cat_categoria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/Categoria.css" rel="stylesheet" />

<h3 class="cat-h3">Você tem certeza que deseja deletar essa categoria?</h3>
<div class="text-center">    
    <dl class="dl-horizontal cat-delet">
        <dt>
            @Html.DisplayNameFor(model => model.Cat_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions">
        @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-cat-voltar" })
        <input type="submit" value="Deletar" class="btn btn-cat-deletar" />
    </div>
    }
</div>
