@model EraFeira.Models.Cat_categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cat_categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cat_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
