@model IEnumerable<EraFeira.Models.Cat_categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/Categoria.css" rel="stylesheet" />
<h1 class="cat-h1">Index</h1>

@*<p>
    @Html.ActionLink("Cadastrar nova categoria", "Create")
</p>*@
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Cat_nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat_descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat_status)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.Cat_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cat_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cat_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cat_id }, new { @class = "btn btn-cat-edit" }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.Cat_id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Cat_id }, new { @class = "btn btn-cat-delet" })
        </td>
    </tr>
}

</table>
