@model EraFeira.Models.Ass_assinatura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ass_assinatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usu_Usuario.Usu_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usu_Usuario.Usu_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ass_qtd_cesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ass_qtd_cesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ass_tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ass_tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ass_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ass_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ass_tipo_cesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ass_tipo_cesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ass_valor_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ass_valor_total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ass_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
