@model IEnumerable<EraFeira.Models.Pro_produto>
@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Carrinho.css" rel="stylesheet" />

<div class="car-section">

    <aside>
        <p class="car-aside-text">
            Valor<br>
            <span class="car-just-color">Cesta R$</span>
            <span class="car-background-aside carrinho">0.00</span>
        </p>
        <input type="hidden" id="valorTotal" value="" />
    </aside>

    <div class="car-titulos">
        <h1 class="car-h1">Digite um nome para sua <span class="car-diferente">cesta</span></h1>
        <input class="car-input" type="text" placeholder="ex: Legumes da vovó">
    </div>
    <br />

    <div class="container">
        <div class="row justify-content-md-center">
            @foreach (var produto in Model)
            {
                <div class="col col-lg-4 spacing">
                    <div class="bloco-imagem-cinza">
                        <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                    </div>
                    <h2 class="car-h2"> @produto.Pro_descricao</h2>

                    <div class="row car-setas ">
                        <div class="col-md-3 offset-2">
                            <input type="hidden" id="h_@produto.Pro_id" valor="@produto.Pro_valor_venda"  value="@produto.Pro_valor_venda" />
                            <button @*class="btn btn-hook-0"*@ class="btn btn-menos" tipo="menos" produtoID="@produto.Pro_id">
                                <img class="car-seta-tamanho" src="~/Imagens/esquerda.png" @*produtoID = produto.Pro_id*@ />
                            </button>
                        </div>


                        <input  class="col-md-2 car-quantidade" id="input_@produto.Pro_id"  produtoID="h_@produto.Pro_id" value="0" />

                        <div class=" col-md-2">
                            <button @*class="btn btn-hook-0"*@ class="btn btn-mais" produtoID="@produto.Pro_id" tipo="mais">
                                <img class="car-seta-tamanho" src="~/Imagens/direita.png" @*produtoID = produto.Pro_id*@ />
                            </button>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>

    <button class="btn btn-next btn-cadastrar" > Salvar </button>

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    var cesta = [];

    

    var idProduto;
    var quantidade;
    //var cestaCookie = JSON.parse(getCookie("ItensCesta"));
    //var idDoProduto = $(this).attr("produtoID");
    //var posDoObj = cestaCookie.findIndex(x => x.produtoID == idDoProduto)

    $(document).ready(function () {

        //-- Clique para adicionar ou retirar
        $(".btn-menos").on("click", function () {
            var id = "#input_" + $(this).attr("produtoID");
            //alert(id);
            var now = $(id).val();
            if ($.isNumeric(now)) {
                if (parseInt(now) - 1 >= 0) { now--; }
                $(id).val(now);
                
                soma();
            } else {
                $(id).val("0");
            }
        })

        // Calcula o valor da cesta
        $(".btn-mais").on("click", function () {
            var id = "#input_" + $(this).attr("produtoID");
            var idH = "#h_" + $(this).attr("produtoID");
         
            //alert(id);
            //alert($(idH).attr("valor"));
            var now = $(id).val();
            if ($.isNumeric(now)) {
                $(id).val(parseInt(now) + 1);

                soma();
            } else {
                $(id).val("0");
            }
        });

        // funcao para calcular o carrinho
        function soma() {
            var valor = parseFloat(0);
            $(".car-quantidade").each(function () {
                var pro = "#"+$(this).attr("produtoID");
                var preco = parseFloat($(pro).attr("valor").replace(',','.'));
             
                valor = valor + parseFloat(($(this).val() * preco));
                
                //alert(pro + " - " + preco + " - " + valor);
            });
            $(".carrinho").text(valor.toFixed(2));
        }

        // identificar a quantidade e o id dos produtos > 0
        // Varrer os elementos input
        // Verificar se os inputs possuem um value maior > 0
        // adicionar o id do produto + o valor dentro do cookie
        var i = 0;
        $(".btn-next").click(function(){

            var dados = []
            
            $(".car-quantidade").each(function () {
                if (!isNaN(this.value)) {
                        
                    dados[i] = this.id + "Quantidade = " + this.value
                    i++
                        
                
                };
               
            })
             document.cookie = "CarrinhoCookie = " + JSON.stringify(dados);
           
        });
        // document.cookie = "ItensCesta = " + JSON.stringify(cestaCookie);
    })
</script>


@*<script>
       // var qtd = value;
        var cestaBase = [];
        //cestaBase.push({ "produtoID": produto.Pro_id, "qtd": 1 });       // stack is now [2]
        //cestaBase.push({ "produtoID": produto.Pro_id, "qtd": 1 });       // stack is now [2, 5]

        document.cookie = "ItensCesta = " + JSON.stringify(cestaBase);

        $(".btn-hook-0").click(function () {

            var cestaCookie = JSON.parse(getCookie("ItensCesta"));
            var idDoProduto = $(this).attr("produtoID");
            var posDoObj = cestaCookie.findIndex(x => x.produtoID == idDoProduto)

            //if ($(this).attr("tipo") == "mais") {
            //    var now = $(".div > input").val();
            //    if ($.isNumeric(now)) {
            //        if (parseInt(now) - 1 > 0) { now--; }
            //        $(".car-setas > .car-quantidade").val(parseInt(now) + 1);
            //    } else {
            //        $(".car-setas > .car-quantidade").val("1");
            //    }
            //    //console.log("mais");
            //    //cestaCookie[posDoObj].qtd += 1;

            //} else {
            //    if ($(this).attr("tipo") == "menos") {
            //        var now = $(".div > input").val();
            //        if ($.isNumeric(now)) {
            //            $(".car-setas > .car-quantidade").val(parseInt(now) + 1);
            //        } else {
            //            $(".car-setas > .car-quantidade").val("1");
            //        }
            //    }
            //    //if (cestaCookie[posDoObj].qtd > 0) {
            //    //    console.log("menos");
            //    //    cestaCookie[posDoObj].qtd -= 1;
            //    //}
            //}
            ////console.log(cestaCookie);
            //document.cookie = "ItensCesta = " + JSON.stringify(cestaCookie);
        });

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }


    </script>*@