@model IEnumerable<EraFeira.Models.Pro_produto>
@{
    ViewBag.Title = "ResumoCompletoPedido";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link href="~/Content/ResumoCompletoPedido.css" rel="stylesheet" />



<section class="rcp-main">

    <div class="rcp-summary">

        <h1 class="rcp-h1">Resumo Completo do Pedido</h1>

        <div class="row">

            <div class="col-lg-12">

                <p class="rcp-text-val"> Valor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R$<span id="rcp-total-basket"></span></p>
            </div>
            <div class="col-lg-12">

                <p class="rcp-text-qt"> <span id="rcp-qt-basket"></span> entregas mensais </p>

            </div>
            <div class="col-lg-12">

                <p class="rcp-text-date"> A primeira entrega sera <span id="rcp-first-delivery"></span> </p>
            </div>

        </div>



    </div>

    <div class="rcp-products">

        <h2 class="rcp-h2"> Lista de produto(s)</h2>
        <div class="row size justify-content-md-center ">
            @foreach (var produto in Model)
            {

                if (produto.Pro_id == 1)
                {

                    <div class="col-lg-4 room ">

                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>

                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta1" class="rcp-qt"></span></p>


                    </div>
                }
                if (produto.Pro_id == 2)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta2" class="rcp-qt"></span></p>

                    </div>
                }
                if (produto.Pro_id == 3)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta3" class="rcp-qt"></span></p>

                    </div>
                }
                if (produto.Pro_id == 4)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta4" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 5)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta5" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 6)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta6" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 7)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta7" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 8)
                {

                    <div class="col-lg-4">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta8" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 9)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta9" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 10)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta10" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 11)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta11" class="rcp-qt"></span></p>
                    </div>
                }
                if (produto.Pro_id == 12)
                {

                    <div class="col-lg-4 ">
                        <div class="rcp-image-gray">
                            <img class="img-fluid size-img" src="~/Uploads/@produto.Pro_foto" />
                        </div>
                        <span class="rcp-descri"> @produto.Pro_descricao</span>
                        <p class="rcp-text-prod">Total:&nbsp;&nbsp;&nbsp; <span id="cesta12" class="rcp-qt"></span></p>
                    </div>
                }







            }
        </div>

       
        @Html.ActionLink("Proseguir para pagamento", "Pagamento", "Usu_usuarios", new { area = "" }, new { @class = "rcp-input-end", @id = "btnfinalizar" })

    </div>





</section>

@*<section>
        <div id="valor" class="rcp-valor"><span class="rcp-preco"></span></div>
        <br />
        <div id="entrega" class="rcp-entrega" value="Tempo"></div>
        <br />
        <div id="data" class="rcp-data-entrega"><span class="rcp-data-entrega1"></span></div>
        <br />
    </section>
    <br />*@
@*<div class="form-horizontal">
        <section>
            <div class="rcp-canto-direito"><img src="~/Imagens/circulo-laranja.png" />Quantidade</div>
            <br />
            <h2 class="rcp-h2">Itens da cesta</h2>
            <ul id="cesta1"> </ul>
            <br />
            <ul id="cesta2"> </ul>
            <br />
            <ul id="cesta3"> </ul>
            <br />
            <ul id="cesta4"> </ul>

            <a class="btn btn-primary" id="btnfinalizar">Confirmar</a>
            <br /><br />

        </section>
    </div>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        Ler2("configCestas");

    });

    // Calcular a data da primeira entrega
    $(document).ready(function () {


        if (getCookie("configCestas") != "") {

            var x = getCookie("configCestas")
            var t = JSON.parse(x)

            var d = new Date()

            d.setDate(d.getDate() + parseInt(t[1]));

            var dd = d.getDate();
            var mm = d.getMonth() + 1;
            var y = d.getFullYear();

            var d = dd + '/' + GetMonthName(mm) + '/' + y;

            $("#rcp-first-delivery").text(d)

        }

    });

    // converte o Numero em Nome de mes
    function GetMonthName(monthNumber) {
        var months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
        return months[monthNumber - 1];
    }

    // Contar quantidade de cada produto
    $(document).ready(function () {
        var contProd1 = 0;
        var contProd2 = 0;
        var contProd3 = 0;
        var contProd4 = 0;
        var contProd5 = 0;
        var contProd6 = 0;
        var contProd7 = 0;
        var contProd8 = 0;
        var contProd9 = 0;
        var contProd10 = 0;
        var contProd11 = 0;
        var contProd12 = 0;
        var totalProd1 = 0;
        var totalProd2 = 0;
        var totalProd3 = 0;
        var totalProd4 = 0;
        var totalProd5 = 0;
        var totalProd6 = 0;
        var totalProd7 = 0;
        var totalProd8 = 0;
        var totalProd9 = 0;
        var totalProd10 = 0;
        var totalProd11 = 0;
        var totalProd12 = 0;

        if (getCookie("CarrinhoCookie1") != "") {


            var cookie = getCookie("CarrinhoCookie1");
            var teste = JSON.parse(cookie);

            var vetor = [];
            var vetor2 = []
            var vetor3 = []
            var vetor4 = []
            var vetor5 = []
            var vetor6 = []
            var vetor7 = []
            var vetor8 = []
            var vetor9 = []
            var vetor10 = []
            var vetor11 = []
            var vetor12 = []

            var a = []
            var b = []
            var c = []
            var d = []
            var e = []
            var f = []
            var g = []
            var h = []
            var i = []
            var j = []
            var k = []
            var l = []

            vetor = teste[1];
            vetor2 = teste[2]
            vetor3 = teste[3]
            vetor4 = teste[4]
            vetor5 = teste[5]
            vetor6 = teste[6]
            vetor7 = teste[7]
            vetor8 = teste[8]
            vetor9 = teste[9]
            vetor10 = teste[10]
            vetor11 = teste[11]
            vetor12 = teste[12]

            if (vetor!= null || typeof vetor !== "undefined") {
                 var a = vetor.split("-")
            }
             if (vetor2!= null || typeof vetor2 !== "undefined") {
                 var b = vetor2.split("-")
            }
             if (vetor3!= null || typeof vetor3 !== "undefined") {
                 var c = vetor3.split("-")
            }
             if (vetor4!= null || typeof vetor4 !== "undefined") {
                 var d = vetor4.split("-")
            }
             if (vetor5!= null || typeof vetor5 !== "undefined") {
                 var e = vetor5.split("-")
            }
             if (vetor6!= null || typeof vetor6 !== "undefined") {
                 var f = vetor6.split("-")
            }
              if (vetor7!= null || typeof vetor7 !== "undefined") {
                 var g = vetor7.split("-")
            }
             if (vetor8!= null || typeof vetor8 !== "undefined") {
                 var h = vetor8.split("-")
            }
             if (vetor9!= null || typeof vetor9 !== "undefined") {
                 var i = vetor9.split("-")
            }
             if (vetor10 != null || typeof vetor10 !== "undefined") {
                 var j = vetor10.split("-")
            }
             if (vetor11 != null || typeof vetor11 !== "undefined") {
                 var k = vetor11.split("-")
            }
             if (vetor12 != null || typeof vetor12 !== "undefined") {
                 var l = vetor12.split("-")
            }


            if (a != "") {

                 contProd1 += parseInt(a[2])
            }
             if (b !="") {

                 contProd2 += parseInt(b[2])
            }
             if (c != "") {

                 contProd3 += parseInt(c[2])
            }
             if (d != "" ) {

                 contProd4 += parseInt(d[2])
            }
             if (e != "") {

                 contProd5 += parseInt(e[2])
            }
             if (f != "") {

                 contProd6 += parseInt(f[2])
            }
             if (g != "") {

                 contProd7 += parseInt(g[2])
            }
            if (h != "") {

                contProd8 += parseInt(h[2])
            }
             if (i != "") {

                 contProd9 += parseInt(i[2])
            }
             if (j  != "") {

                 contProd10 += parseInt(j[2])
            }
             if (k  != "") {

                 contProd11 += parseInt(k[2])
            }
               if (l != "") {

                 contProd12 += parseInt(l[2])
            }


        }
        totalProd1 += parseFloat(contProd1)
        totalProd2 += parseFloat(contProd2)
        totalProd3 += parseFloat(contProd3)
        totalProd4 += parseFloat(contProd4)
        totalProd5 += parseFloat(contProd5)
        totalProd6 += parseFloat(contProd6)
        totalProd7 += parseFloat(contProd7)
        totalProd8 += parseFloat(contProd8)
        totalProd9 += parseFloat(contProd9)
        totalProd10 += parseFloat(contProd10)
        totalProd11 += parseFloat(contProd11)
        totalProd12 += parseFloat(contProd12)
        contProd1 = 0
        contProd2 = 0
        contProd3 = 0
        contProd4 = 0
        contProd5 = 0
        contProd6 = 0
        contProd7 = 0
        contProd8 = 0
        contProd9 = 0
        contProd10 = 0
        contProd11 = 0
        contProd12 = 0


        if (getCookie("CarrinhoCookie2") != "") {


            var cookie = getCookie("CarrinhoCookie2");
            var teste = JSON.parse(cookie);

            var vetor = [];
            var vetor2 = []
            var vetor3 = []
            var vetor4 = []
            var vetor5 = []
            var vetor6 = []
            var vetor7 = []
            var vetor8 = []
            var vetor9 = []
            var vetor10 = []
            var vetor11 = []
            var vetor12 = []

            vetor = teste[1];
            vetor2 = teste[2]
            vetor3 = teste[3]
            vetor4 = teste[4]
            vetor5 = teste[5]
            vetor6 = teste[6]
            vetor7 = teste[7]
            vetor8 = teste[8]
            vetor9 = teste[9]
            vetor10 = teste[10]
            vetor11 = teste[11]
            vetor12 = teste[12]
           if (vetor!= null || typeof vetor !== "undefined") {
                 var a = vetor.split("-")
            }
             if (vetor2!= null || typeof vetor2 !== "undefined") {
                 var b = vetor2.split("-")
            }
             if (vetor3!= null || typeof vetor3 !== "undefined") {
                 var c = vetor3.split("-")
            }
             if (vetor4!= null || typeof vetor4 !== "undefined") {
                 var d = vetor4.split("-")
            }
             if (vetor5!= null || typeof vetor5 !== "undefined") {
                 var e = vetor5.split("-")
            }
             if (vetor6!= null || typeof vetor6 !== "undefined") {
                 var f = vetor6.split("-")
            }
              if (vetor7!= null || typeof vetor7 !== "undefined") {
                 var g = vetor7.split("-")
            }
             if (vetor8!= null || typeof vetor8 !== "undefined") {
                 var h = vetor8.split("-")
            }
             if (vetor9!= null || typeof vetor9 !== "undefined") {
                 var i = vetor9.split("-")
            }
             if (vetor10 != null || typeof vetor10 !== "undefined") {
                 var j = vetor10.split("-")
            }
             if (vetor11 != null || typeof vetor11 !== "undefined") {
                 var k = vetor11.split("-")
            }
             if (vetor12 != null || typeof vetor12 !== "undefined") {
                 var l = vetor12.split("-")
            }


           if (a != "") {

                 contProd1 += parseInt(a[2])
            }
             if (b !="") {

                 contProd2 += parseInt(b[2])
            }
             if (c != "") {

                 contProd3 += parseInt(c[2])
            }
             if (d != "" ) {

                 contProd4 += parseInt(d[2])
            }
             if (e != "") {

                 contProd5 += parseInt(e[2])
            }
             if (f != "") {

                 contProd6 += parseInt(f[2])
            }
             if (g != "") {

                 contProd7 += parseInt(g[2])
            }
            if (h != "") {

                contProd8 += parseInt(h[2])
            }
             if (i != "") {

                 contProd9 += parseInt(i[2])
            }
             if (j  != "") {

                 contProd10 += parseInt(j[2])
            }
             if (k  != "") {

                 contProd11 += parseInt(k[2])
            }
               if (l != "") {

                 contProd12 += parseInt(l[2])
            }

        }

        totalProd1 += parseFloat(contProd1)
        totalProd2 += parseFloat(contProd2)
        totalProd3 += parseFloat(contProd3)
        totalProd4 += parseFloat(contProd4)
        totalProd5 += parseFloat(contProd5)
        totalProd6 += parseFloat(contProd6)
        totalProd7 += parseFloat(contProd7)
        totalProd8 += parseFloat(contProd8)
        totalProd9 += parseFloat(contProd9)
        totalProd10 += parseFloat(contProd10)
        totalProd11 += parseFloat(contProd11)
        totalProd12 += parseFloat(contProd12)
        contProd1 = 0
        contProd2 = 0
        contProd3 = 0
        contProd4 = 0
        contProd5 = 0
        contProd6 = 0
        contProd7 = 0
        contProd8 = 0
        contProd9 = 0
        contProd10 = 0
        contProd11 = 0
        contProd12 = 0

        if (getCookie("CarrinhoCookie3") != "") {


            var cookie = getCookie("CarrinhoCookie3");
            var teste = JSON.parse(cookie);

            var vetor = [];
            var vetor2 = []
            var vetor3 = []
            var vetor4 = []
            var vetor5 = []
            var vetor6 = []
            var vetor7 = []
            var vetor8 = []
            var vetor9 = []
            var vetor10 = []
            var vetor11 = []
            var vetor12 = []

            vetor = teste[1];
            vetor2 = teste[2]
            vetor3 = teste[3]
            vetor4 = teste[4]
            vetor5 = teste[5]
            vetor6 = teste[6]
            vetor7 = teste[7]
            vetor8 = teste[8]
            vetor9 = teste[9]
            vetor10 = teste[10]
            vetor11 = teste[11]
            vetor12 = teste[12]
           if (vetor!= null || typeof vetor !== "undefined") {
                 var a = vetor.split("-")
            }
             if (vetor2!= null || typeof vetor2 !== "undefined") {
                 var b = vetor2.split("-")
            }
             if (vetor3!= null || typeof vetor3 !== "undefined") {
                 var c = vetor3.split("-")
            }
             if (vetor4!= null || typeof vetor4 !== "undefined") {
                 var d = vetor4.split("-")
            }
             if (vetor5!= null || typeof vetor5 !== "undefined") {
                 var e = vetor5.split("-")
            }
             if (vetor6!= null || typeof vetor6 !== "undefined") {
                 var f = vetor6.split("-")
            }
              if (vetor7!= null || typeof vetor7 !== "undefined") {
                 var g = vetor7.split("-")
            }
             if (vetor8!= null || typeof vetor8 !== "undefined") {
                 var h = vetor8.split("-")
            }
             if (vetor9!= null || typeof vetor9 !== "undefined") {
                 var i = vetor9.split("-")
            }
             if (vetor10 != null || typeof vetor10 !== "undefined") {
                 var j = vetor10.split("-")
            }
             if (vetor11 != null || typeof vetor11 !== "undefined") {
                 var k = vetor11.split("-")
            }
             if (vetor12 != null || typeof vetor12 !== "undefined") {
                 var l = vetor12.split("-")
            }


            if (a != "") {

                 contProd1 += parseInt(a[2])
            }
             if (b !="") {

                 contProd2 += parseInt(b[2])
            }
             if (c != "") {

                 contProd3 += parseInt(c[2])
            }
             if (d != "" ) {

                 contProd4 += parseInt(d[2])
            }
             if (e != "") {

                 contProd5 += parseInt(e[2])
            }
             if (f != "") {

                 contProd6 += parseInt(f[2])
            }
             if (g != "") {

                 contProd7 += parseInt(g[2])
            }
            if (h != "") {

                contProd8 += parseInt(h[2])
            }
             if (i != "") {

                 contProd9 += parseInt(i[2])
            }
             if (j  != "") {

                 contProd10 += parseInt(j[2])
            }
             if (k  != "") {

                 contProd11 += parseInt(k[2])
            }
               if (l != "") {

                 contProd12 += parseInt(l[2])
            }

        }
        totalProd1 += parseFloat(contProd1)
        totalProd2 += parseFloat(contProd2)
        totalProd3 += parseFloat(contProd3)
        totalProd4 += parseFloat(contProd4)
        totalProd5 += parseFloat(contProd5)
        totalProd6 += parseFloat(contProd6)
        totalProd7 += parseFloat(contProd7)
        totalProd8 += parseFloat(contProd8)
        totalProd9 += parseFloat(contProd9)
        totalProd10 += parseFloat(contProd10)
        totalProd11 += parseFloat(contProd11)
        totalProd12 += parseFloat(contProd12)
        contProd1 = 0
        contProd2 = 0
        contProd3 = 0
        contProd4 = 0
        contProd5 = 0
        contProd6 = 0
        contProd7 = 0
        contProd8 = 0
        contProd9 = 0
        contProd10 = 0
        contProd11 = 0
        contProd12 = 0
        if (getCookie("CarrinhoCookie4") != "") {

           var cookie = getCookie("CarrinhoCookie4");
            var teste = JSON.parse(cookie);

            var vetor = [];
            var vetor2 = []
            var vetor3 = []
            var vetor4 = []
            var vetor5 = []
            var vetor6 = []
            var vetor7 = []
            var vetor8 = []
            var vetor9 = []
            var vetor10 = []
            var vetor11 = []
            var vetor12 = []

            vetor = teste[1];
            vetor2 = teste[2]
            vetor3 = teste[3]
            vetor4 = teste[4]
            vetor5 = teste[5]
            vetor6 = teste[6]
            vetor7 = teste[7]
            vetor8 = teste[8]
            vetor9 = teste[9]
            vetor10 = teste[10]
            vetor11 = teste[11]
            vetor12 = teste[12]
          if (vetor!= null || typeof vetor !== "undefined") {
                 var a = vetor.split("-")
            }
             if (vetor2!= null || typeof vetor2 !== "undefined") {
                 var b = vetor2.split("-")
            }
             if (vetor3!= null || typeof vetor3 !== "undefined") {
                 var c = vetor3.split("-")
            }
             if (vetor4!= null || typeof vetor4 !== "undefined") {
                 var d = vetor4.split("-")
            }
             if (vetor5!= null || typeof vetor5 !== "undefined") {
                 var e = vetor5.split("-")
            }
             if (vetor6!= null || typeof vetor6 !== "undefined") {
                 var f = vetor6.split("-")
            }
              if (vetor7!= null || typeof vetor7 !== "undefined") {
                 var g = vetor7.split("-")
            }
             if (vetor8!= null || typeof vetor8 !== "undefined") {
                 var h = vetor8.split("-")
            }
             if (vetor9!= null || typeof vetor9 !== "undefined") {
                 var i = vetor9.split("-")
            }
             if (vetor10 != null || typeof vetor10 !== "undefined") {
                 var j = vetor10.split("-")
            }
             if (vetor11 != null || typeof vetor11 !== "undefined") {
                 var k = vetor11.split("-")
            }
             if (vetor12 != null || typeof vetor12 !== "undefined") {
                 var l = vetor12.split("-")
            }


            if (a != "") {

                 contProd1 += parseInt(a[2])
            }
             if (b !="") {

                 contProd2 += parseInt(b[2])
            }
             if (c != "") {

                 contProd3 += parseInt(c[2])
            }
             if (d != "" ) {

                 contProd4 += parseInt(d[2])
            }
             if (e != "") {

                 contProd5 += parseInt(e[2])
            }
             if (f != "") {

                 contProd6 += parseInt(f[2])
            }
             if (g != "") {

                 contProd7 += parseInt(g[2])
            }
            if (h != "") {

                contProd8 += parseInt(h[2])
            }
             if (i != "") {

                 contProd9 += parseInt(i[2])
            }
             if (j  != "") {

                 contProd10 += parseInt(j[2])
            }
             if (k  != "") {

                 contProd11 += parseInt(k[2])
            }
               if (l != "") {

                 contProd12 += parseInt(l[2])
            }

        }
        totalProd1 += parseFloat(contProd1)
        totalProd2 += parseFloat(contProd2)
        totalProd3 += parseFloat(contProd3)
        totalProd4 += parseFloat(contProd4)
        totalProd5 += parseFloat(contProd5)
        totalProd6 += parseFloat(contProd6)
        totalProd7 += parseFloat(contProd7)
        totalProd8 += parseFloat(contProd8)
        totalProd9 += parseFloat(contProd9)
        totalProd10 += parseFloat(contProd10)
        totalProd11 += parseFloat(contProd11)
        totalProd12 += parseFloat(contProd12)
        $("#cesta1").text(totalProd1)
        $("#cesta2").text(totalProd2)
        $("#cesta3").text(totalProd3)
        $("#cesta4").text(totalProd4)
        $("#cesta5").text(totalProd5)
        $("#cesta6").text(totalProd6)
        $("#cesta7").text(totalProd7)
        $("#cesta8").text(totalProd8)
        $("#cesta9").text(totalProd9)
        $("#cesta10").text(totalProd10)
        $("#cesta11").text(totalProd11)
        $("#cesta12").text(totalProd12)
         



       //Ler("CarrinhoCookie1");
       //Ler("CarrinhoCookie2");
       //Ler("CarrinhoCookie3");
       //Ler("CarrinhoCookie4");
    });

    $(document).ready(function () {
        var cont = 0;
        var cont1 = 0;
        var cont2 = 0;
        var cont3 = 0;
        var total = 0;
        if (getCookie("CarrinhoCookie1") != "") {

            var cookie = getCookie("CarrinhoCookie1");
            var teste = JSON.parse(cookie);

            var vetor = [];
            vetor = teste[3];

            var a = vetor.split("-")
            cont += parseFloat(a[3])
        }
        total += parseFloat(cont)

        if (getCookie("CarrinhoCookie2") != "") {

            var cookie = getCookie("CarrinhoCookie2");
            var teste = JSON.parse(cookie);

            var vetor = [];
            vetor = teste[3];

            var a = vetor.split("-")
            cont1 += parseFloat(a[3])
        }

        total += parseFloat(cont1)

        if (getCookie("CarrinhoCookie3") != "") {

            var cookie = getCookie("CarrinhoCookie3");
            var teste = JSON.parse(cookie);

            var vetor = [];
            vetor = teste[3];

            var a = vetor.split("-")
            cont2 += parseFloat(a[3])
        }
        total += parseFloat(cont2)
        if (getCookie("CarrinhoCookie4") != "") {

            var cookie = getCookie("CarrinhoCookie4");
            var teste = JSON.parse(cookie);

            var vetor = [];
            vetor = teste[3];

            var a = vetor.split("-")
            cont3 += parseFloat(a[3])
        }
        total += parseFloat(cont3)
        $("#rcp-total-basket").text(total.toFixed(2))


    })




    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    //function getCookie(nome) {
    //    var vnome = nome + "=";
    //    var b = document.cookie1.split(';');
    //    for (var y = 0; y < b.length; b++) {
    //        var v = b[y];
    //        while (v.charAt(0) == ' ') {
    //            v = v.substring(1);
    //        }
    //        if (v.indexOf(vnome) == 0) {
    //            return v.substring(vnome.length, v.length);
    //        }
    //    }
    //    return "";
    //}

    //function Ler(nomeCookie) {
    //    if (getCookie(nomeCookie) != null) {
    //        var cookie = getCookie(nomeCookie);
    //        var oi = JSON.parse(cookie);
    //        var dados = [];
    //        var produto = {};

    //        for (var i = 1; i <= oi.length; i++) {
    //            var separa = [];
    //            var a = oi[i];
    //            if (a != null || typeof a !== "undefined") {
    //                separa = a.split("-");
    //                switch (nomeCookie) {

    //                    case "CarrinhoCookie1":
    //                        $("#cesta1").text(separa[0]);


    //                        break;
    //                    case "CarrinhoCookie2":
    //                        $("#cesta2").text(separa[0]);

    //                        break;
    //                    case "CarrinhoCookie3":
    //                        $("#cesta3").text(separa[0]);

    //                        break;
    //                    case "CarrinhoCookie4":
    //                        $("#cesta4").text(separa[0]);

    //                        break;
    //                }
    //            }
    //        }

    //    }
    //}


    function Ler2(nameCookie) {
        if (getCookie(nameCookie) != null) {
            var cookie1 = getCookie(nameCookie);
            var x = JSON.parse(cookie1);

            // $("#valor").append("<li> Valor Total" + ax[0] + "</li>")
            $("#rcp-qt-basket").text(x[0])


        }
    }



    $("#btnfinalizar").click(function () {
        var dados = [];
        var produto = {};
        var configs = {}






        
        


        if (getCookie("configCestas") != null) {
            var cookie1 = getCookie("configCestas");
            if (cookie1 != "") {
                var ax = JSON.parse(cookie1);

                configs = {
                    QtdCesta: ax[0],
                    Tempo: ax[1],
                    TipoCesta: ax[2],
                    Total: parseFloat($("#rcp-total-basket").text())
                }

            }
        }

        var jsonText = JSON.stringify(configs);

        $.ajax({
            type: 'POST',
            url: 'CadastrarAssinatura',
            data: jsonText,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (r) {
                if (r.d == "não") {
                    alert("Houve um erro ao cadastrar!");
                } else {
                    alert("Produtos cadastrados com sucesso!");
                }
            }
        });

        if (getCookie("CarrinhoCookie1") != null) {
            var cookie = getCookie("CarrinhoCookie1");
            var cookie2 = getCookie("configCestas");
            if (cookie != "") {
                var oi = JSON.parse(cookie);
                var oi2 = JSON.parse(cookie2);
               

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        //isso
                        produto = {
                            id: separa[0],
                            valor: parseFloat(separa[1]),
                            qtd: separa[2],
                            Total: parseFloat(separa[3]),
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 1",
                            entregas: parseInt( oi2[1])
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        if (getCookie("CarrinhoCookie2") != null) {
            var cookie = getCookie("CarrinhoCookie2");
            var cookie2 = getCookie("configCestas");
            if (cookie != "") {
                var oi = JSON.parse(cookie);
                var oi2 = JSON.parse(cookie2);
              

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        produto = {
                            id: separa[0],
                            valor: parseFloat(separa[1]),
                            qtd: separa[2],
                            Total: parseFloat(separa[3]),
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 2",
                             entregas: parseInt( oi2[1])
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        if (getCookie("CarrinhoCookie3") != null) {
            var cookie = getCookie("CarrinhoCookie3");
            var cookie2 = getCookie("configCestas");
            if (cookie != "") {
                var oi = JSON.parse(cookie);
                var oi2 = JSON.parse(cookie2);
              


                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        produto = {
                            id: separa[0],
                            valor: parseFloat(separa[1]),
                            qtd: separa[2],
                            Total: parseFloat(separa[3]),
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 3",
                            entregas: parseInt( oi2[1])
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        if (getCookie("CarrinhoCookie4") != null) {
            var cookie = getCookie("CarrinhoCookie4");
             var cookie2 = getCookie("configCestas");
            if (cookie != "") {
                var oi = JSON.parse(cookie);

                var oi2 = JSON.parse(cookie2);
               

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        produto = {
                            id: separa[0],
                            valor: parseFloat(separa[1]),
                            qtd: separa[2],
                            Total: parseFloat(separa[3]),
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 4",
                            entregas: parseInt( oi2[1])
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        var jsonText = JSON.stringify(dados);

        $.ajax({
            type: 'POST',
            url: 'CadastrarProdutos',
            data: jsonText,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (r) {
                if (r.d == "não") {
                    alert("Houve um erro ao cadastrar!");
                } else {
                    alert("Produtos cadastrados com sucesso!");
                }
            }
        });

    });



</script>