@model EraFeira.Models.For_fornecedor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>For_fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.End_Endereco.End_cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Endereco.End_cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.For_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.For_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.For_telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.For_telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.For_documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.For_documento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.For_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
