@model EraFeira.Models.Img_imagem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Img_imagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pro_Produto.Pro_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_Produto.Pro_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Img_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
