@model IEnumerable<EraFeira.Models.Img_imagem>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{string nome = ""; int cont = 0; }
@foreach (var item in Model)
{
    if (nome != item.Pro_Produto.Pro_nome)
    {
        if (nome != "")
        {
            @Html.Raw("<div></div>");
            cont = 0;
        }
        @Html.Raw("<div class='row'>");
        <h3>@item.Pro_Produto.Pro_nome</h3>
    }
    if (cont % 4 == 0)
    {
        if (cont != 0)
        {
            @Html.Raw("</div>");
        }
        @Html.Raw("<div class='row'>");
    }
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Uploads/@item.Img_foto" alt="...">
            </a>
         <a href="@Url.Action("Delete", "Img_imagems", new { id = item.Img_id })">Excluir</a>
        </div>
    nome = item.Pro_Produto.Pro_nome;
    cont++;

}