@model EraFeira.Models.Ces_cesta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ces_cesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ass_Assinatura.Ass_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ass_Assinatura.Ass_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usu_Usuario.Usu_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usu_Usuario.Usu_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ces_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ces_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ces_criacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ces_criacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ces_valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ces_valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ces_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
