@model IEnumerable<EraFeira.Models.Ces_cesta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ass_Assinatura.Ass_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usu_Usuario.Usu_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ces_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ces_criacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ces_valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ass_Assinatura.Ass_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usu_Usuario.Usu_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ces_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ces_criacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ces_valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ces_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ces_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ces_id })
        </td>
    </tr>
}

</table>
