@model EraFeira.Models.End_endereco

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>End_endereco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.End_cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.End_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
